.grid-pane {
    -fx-alignment: CENTER;
    -fx-padding: 0.5em;
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
}

.content-box {
    -fx-spacing: 1em;
}

.content-box .text-area {
    -fx-pref-height: 7em;
}

.bottom-box {
    -fx-alignment: CENTER-RIGHT;
    -fx-spacing: 0.5em;
}